<h1>Listing projetos</h1>

<table border=1>
  <tr>
	<th>Id</th>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Responsavel</th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr>
	<td align="center"><%=h projeto.id%></td>
    <td align="center"><%=h projeto.nome %></td>
    <td align="center"><%=h projeto.descricao %></td>
    <td align="center"><%=h projeto.responsavel %></td>
    <td align="center"><%= link_to 'Show', projeto %></td>
    <td align="center"><%= link_to 'Edit', edit_projeto_path(projeto) %></td>
    <td align="center"><%= link_to 'Destroy', projeto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New projeto', new_projeto_path %>