<h1>Listagem de Usuários</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Senha</th>
    <th>Nome</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.password %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Visualizar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Excluir', user, :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_user_path %>