<h1>Editing bug</h1>

<% form_for(@bug) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :projeto %><br />
    <%= f.text_field :projeto %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bug %> |
<%= link_to 'Back', bugs_path %>